services:
  postgres:
    image: 'postgres:latest'
    ports:
      - '15432:5432'
    environment:
      - 'POSTGRES_DB=vineward'
      - 'POSTGRES_USER=vineward'
      - 'POSTGRES_PASSWORD=vineward'
    volumes:
      - 'postgres-data:/var/lib/postgresql/data'
volumes:
  postgres-data:
